VoiceInteractiveMailReader.txt
[{"id":"dc1de71f.23e218","type":"subflow","name":"Delayed unread email","info":"","in":[{"x":130,"y":119,"wires":[{"id":"7e84ff36.817b"}]}],"out":[{"x":407.5000057220459,"y":304.00000381469727,"wires":[{"id":"7e84ff36.817b","port":2}]}]},{"id":"7e84ff36.817b","type":"exec","z":"dc1de71f.23e218","command":"sh","addpay":false,"append":"/home/pi/imap1/mailUnread.sh","useSpawn":"","name":"","x":288.00000381469727,"y":195.25000190734863,"wires":[[],[],[]]},{"id":"458b8c17.ba7474","type":"comment","z":"dc1de71f.23e218","name":"Unread listener","info":"","x":303.00000762939453,"y":146.50000190734863,"wires":[]},{"id":"e1e0c035.1e1f4","type":"inject","z":"27ca2375.d835dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":161,"y":101,"wires":[["60823a80.9f7dc4"]]},{"id":"60823a80.9f7dc4","type":"exec","z":"27ca2375.d835dc","command":"sh","addpay":false,"append":"/home/pi/imap1/imageCapture.sh","useSpawn":"","name":"","x":333,"y":127,"wires":[["3b4ef3a2.c4b10c"],["2fbfc210.d0403e"],["2ded7891.d21288"]]},{"id":"3b4ef3a2.c4b10c","type":"debug","z":"27ca2375.d835dc","name":"stdout","active":false,"console":"false","complete":"payload","x":499,"y":71,"wires":[]},{"id":"2fbfc210.d0403e","type":"debug","z":"27ca2375.d835dc","name":"stderr","active":false,"console":"false","complete":"payload","x":498,"y":125,"wires":[]},{"id":"2ded7891.d21288","type":"debug","z":"27ca2375.d835dc","name":"return code","active":true,"console":"false","complete":"payload","x":514,"y":175,"wires":[]},{"id":"125bef50.eda411","type":"alchemy-image-analysis","z":"27ca2375.d835dc","name":"Image Analysis","apikey":"50da882da6158676c8d573b0c958e5b8e49aa159","image-feature":"imageFaces","x":217,"y":445,"wires":[["42dde1a.fbd222"]]},{"id":"9b76c30e.64894","type":"file in","z":"27ca2375.d835dc","name":"Image1.jpeg","filename":"/home/pi/imap1/CapturedImage/Image1.jpeg","format":"","x":305,"y":344,"wires":[["125bef50.eda411"]]},{"id":"aac0f37.f553f1","type":"debug","z":"27ca2375.d835dc","name":"","active":false,"console":"false","complete":"payload","x":465,"y":420,"wires":[]},{"id":"61808da4.9e7f74","type":"switch","z":"27ca2375.d835dc","name":"","property":"payload","rules":[{"t":"cont","v":"MALE"},{"t":"cont","v":"FEMALE"},{"t":"else"}],"checkall":"false","outputs":3,"x":449,"y":628,"wires":[["2b7315c3.d48cea"],["e6e522f0.191ae"],["416e721c.be918c"]]},{"id":"416e721c.be918c","type":"delay","z":"27ca2375.d835dc","name":"Image delay","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":628,"y":509,"wires":[["60823a80.9f7dc4"]]},{"id":"6754c426.98ab3c","type":"comment","z":"27ca2375.d835dc","name":"Retake image","info":"","x":625,"y":465,"wires":[]},{"id":"20b3ae32.df4c52","type":"debug","z":"27ca2375.d835dc","name":"","active":true,"console":"false","complete":"payload","x":772,"y":732,"wires":[]},{"id":"2b7315c3.d48cea","type":"function","z":"27ca2375.d835dc","name":"","func":"msg.payload='User Identified';\nreturn msg;","outputs":1,"noerr":0,"x":597,"y":732,"wires":[["20b3ae32.df4c52","e982a37e.167d6"]]},{"id":"be773646.4188c8","type":"comment","z":"27ca2375.d835dc","name":"Male","info":"","x":751,"y":696,"wires":[]},{"id":"9d71ff90.628e","type":"watch","z":"27ca2375.d835dc","name":"Image1","files":"/home/pi/imap1/CapturedImage/Image1.jpeg","x":84,"y":345,"wires":[["9b76c30e.64894"]]},{"id":"42dde1a.fbd222","type":"function","z":"27ca2375.d835dc","name":"","func":"var str1 = JSON.stringify(msg.result, null, 2)\n\nmsg.payload = str1;\n\nreturn msg;","outputs":1,"noerr":0,"x":323,"y":514,"wires":[["aac0f37.f553f1","61808da4.9e7f74"]]},{"id":"e6e522f0.191ae","type":"debug","z":"27ca2375.d835dc","name":"","active":true,"console":"false","complete":"payload","x":715,"y":629,"wires":[]},{"id":"12a12898.ed5ed7","type":"comment","z":"27ca2375.d835dc","name":"Female","info":"","x":695,"y":586,"wires":[]},{"id":"2ae97cec.d51684","type":"comment","z":"27ca2375.d835dc","name":"Start","info":"","x":116.75000190734863,"y":48,"wires":[]},{"id":"e982a37e.167d6","type":"exec","z":"27ca2375.d835dc","command":"sh","addpay":false,"append":"/home/pi/imap1/mailRead.sh","useSpawn":"","name":"","x":453,"y":856,"wires":[["64638657.9b9c78"],["ab9f878f.546078"],["5877565a.a788a8"]]},{"id":"64638657.9b9c78","type":"debug","z":"27ca2375.d835dc","name":"","active":true,"console":"false","complete":"false","x":639,"y":808,"wires":[]},{"id":"ab9f878f.546078","type":"debug","z":"27ca2375.d835dc","name":"","active":true,"console":"false","complete":"false","x":639,"y":857,"wires":[]},{"id":"5877565a.a788a8","type":"debug","z":"27ca2375.d835dc","name":"","active":true,"console":"false","complete":"false","x":635,"y":907,"wires":[]},{"id":"7fb9598c.8046a8","type":"watch","z":"27ca2375.d835dc","name":"","files":"/home/pi/imap1/unreadMailCnt.txt","x":156,"y":1002,"wires":[["2a4da5a.fd5b25a"]]},{"id":"2a4da5a.fd5b25a","type":"file in","z":"27ca2375.d835dc","name":"","filename":"/home/pi/imap1/unreadMailCnt.txt","format":"utf8","x":486.25,"y":1002,"wires":[["2b315df3.d4cea2"]]},{"id":"8617379f.79e8c8","type":"watson-text-to-speech","z":"27ca2375.d835dc","name":"","lang":"english","voice":"en-US_MichaelVoice","format":"audio/wav","x":324.25,"y":1076.5,"wires":[["91ac5024.6e53b"]]},{"id":"6973f2b1.968c0c","type":"file","z":"27ca2375.d835dc","name":"","filename":"/home/pi/imap1/speechAudio.wav","appendNewline":false,"createDir":false,"overwriteFile":"true","x":603.75,"y":1139.75,"wires":[]},{"id":"8df9c8be.720638","type":"watch","z":"27ca2375.d835dc","name":"","files":"/home/pi/imap1/speechAudio.wav","x":116,"y":1264.7500200271606,"wires":[["f200b602.0dff48"]]},{"id":"f200b602.0dff48","type":"exec","z":"27ca2375.d835dc","command":"sh","addpay":false,"append":"/home/pi/imap1/speechRun.sh","useSpawn":"","name":"","x":239.00000381469727,"y":1343.000020980835,"wires":[["d145d00b.2eba3"],["bc947f5b.436b8"],["2878ea05.d78716"]]},{"id":"d145d00b.2eba3","type":"debug","z":"27ca2375.d835dc","name":"","active":true,"console":"false","complete":"false","x":415.75000381469727,"y":1199.2500171661377,"wires":[]},{"id":"bc947f5b.436b8","type":"debug","z":"27ca2375.d835dc","name":"","active":true,"console":"false","complete":"false","x":421.2500057220459,"y":1249.0000190734863,"wires":[]},{"id":"2878ea05.d78716","type":"debug","z":"27ca2375.d835dc","name":"","active":true,"console":"false","complete":"false","x":422.25000762939453,"y":1301.0000190734863,"wires":[]},{"id":"cd2012ff.32dff","type":"comment","z":"27ca2375.d835dc","name":"Unread email count","info":"","x":347.50000762939453,"y":794.2500114440918,"wires":[]},{"id":"6d513783.92aec8","type":"comment","z":"27ca2375.d835dc","name":"Unread mail count listener","info":"","x":137,"y":952,"wires":[]},{"id":"ff260f37.00d9f","type":"comment","z":"27ca2375.d835dc","name":"play unread mail count voice","info":"","x":127.75,"y":1217.2500171661377,"wires":[]},{"id":"d600b043.29ff5","type":"comment","z":"27ca2375.d835dc","name":"Image Listener","info":"","x":104,"y":301,"wires":[]},{"id":"4d0d3760.b2f2c8","type":"exec","z":"27ca2375.d835dc","command":"sh ","addpay":false,"append":"/home/pi/imap1/audioListener.sh","useSpawn":"","name":"","x":490.5,"y":1821,"wires":[["9bac0f2a.6453f"],["9bac0f2a.6453f"],["9bac0f2a.6453f"]]},{"id":"2136e5cd.dec91a","type":"watch","z":"27ca2375.d835dc","name":"","files":"/home/pi/imap1/AudioListener/Audio.wav","x":138.5,"y":1719.0000257492065,"wires":[["a6bec926.594138"]]},{"id":"9bac0f2a.6453f","type":"debug","z":"27ca2375.d835dc","name":"","active":true,"console":"false","complete":"false","x":675.7500076293945,"y":1658.7500247955322,"wires":[]},{"id":"a6bec926.594138","type":"file in","z":"27ca2375.d835dc","name":"","filename":"/home/pi/imap1/AudioListener/Audio.wav","format":"","x":178.25,"y":1795.0000267028809,"wires":[["e1c94e20.1e36b"]]},{"id":"7799d5e.f88662c","type":"debug","z":"27ca2375.d835dc","name":"","active":true,"console":"false","complete":"payload","x":613.5000114440918,"y":1910.7500324249268,"wires":[]},{"id":"e32a9b77.1cd568","type":"watson-speech-to-text","z":"27ca2375.d835dc","name":"","lang":"en-US","band":"BroadbandModel","x":217.25,"y":1899.75,"wires":[["c46f129f.3b90f"]]},{"id":"c46f129f.3b90f","type":"function","z":"27ca2375.d835dc","name":"","func":"msg2 = {};\n\n//msg2.payload = msg.transcription;\n\nmsg2.payload = 'read';\n\nreturn msg2;","outputs":1,"noerr":0,"x":253.64286041259766,"y":1945.9285888671875,"wires":[["60683.fff9f97d","7799d5e.f88662c"]]},{"id":"60683.fff9f97d","type":"switch","z":"27ca2375.d835dc","name":"","property":"payload","rules":[{"t":"cont","v":"read"},{"t":"cont","v":"delete"},{"t":"else"}],"checkall":"false","outputs":3,"x":303.25000381469727,"y":2009.7500295639038,"wires":[["7799d5e.f88662c","224f0593.ddb0fa"],["f3ef489d.0c10b8","4d0d3760.b2f2c8"],["4d0d3760.b2f2c8"]]},{"id":"f3ef489d.0c10b8","type":"debug","z":"27ca2375.d835dc","name":"","active":true,"console":"false","complete":"false","x":134.00000381469727,"y":2197.5000324249268,"wires":[]},{"id":"29f98523.d6067a","type":"comment","z":"27ca2375.d835dc","name":"Audio Input","info":"","x":488.00000762939453,"y":1770.2500257492065,"wires":[]},{"id":"90784050.6f87c","type":"watch","z":"27ca2375.d835dc","name":"","files":"/home/pi/imap1/mailcntdone.txt","x":139.75,"y":1471.5000228881836,"wires":[["4d0d3760.b2f2c8"]]},{"id":"17f7df35.e80821","type":"subflow:dc1de71f.23e218","z":"27ca2375.d835dc","name":"","x":468.25000762939453,"y":1418.250020980835,"wires":[["830d90d6.7cf27"]]},{"id":"830d90d6.7cf27","type":"delay","z":"27ca2375.d835dc","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460.50000762939453,"y":1515.2500247955322,"wires":[["17f7df35.e80821"]]},{"id":"b7bc8cc2.48437","type":"watch","z":"27ca2375.d835dc","name":"","files":"/home/pi/imap1/MailRead.txt","x":940.7500152587891,"y":1473.0000219345093,"wires":[["6b654e33.949ab"]]},{"id":"6b654e33.949ab","type":"file in","z":"27ca2375.d835dc","name":"","filename":"/home/pi/imap1/MailRead.txt","format":"utf8","x":1212.5,"y":1473.75,"wires":[["b3c052d8.4c3fb"]]},{"id":"983b500f.67c4b","type":"watson-text-to-speech","z":"27ca2375.d835dc","name":"","lang":"english","voice":"en-US_MichaelVoice","format":"audio/wav","x":1209.5,"y":1551,"wires":[["39de4586.c621ba"]]},{"id":"3252ccf4.cdad34","type":"file","z":"27ca2375.d835dc","name":"","filename":"/home/pi/imap1/speechAudio1.wav","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1256,"y":1620.25,"wires":[]},{"id":"e18a33ff.1e75d","type":"watch","z":"27ca2375.d835dc","name":"","files":"/home/pi/imap1/speechAudio1.wav","x":950.7500152587891,"y":1769.7500267028809,"wires":[["2a201736.d5dfe8"]]},{"id":"2a201736.d5dfe8","type":"exec","z":"27ca2375.d835dc","command":"sh","addpay":false,"append":"/home/pi/imap1/ReadCmdDone.sh","useSpawn":"","name":"","x":1174.25,"y":1892.75,"wires":[["37767702.c88988"],["37767702.c88988"],["37767702.c88988"]]},{"id":"37767702.c88988","type":"debug","z":"27ca2375.d835dc","name":"","active":true,"console":"false","complete":"false","x":1303.5,"y":1771.25,"wires":[]},{"id":"d6306efe.29cf9","type":"comment","z":"27ca2375.d835dc","name":"Mail to be Read","info":"","x":897.5000152587891,"y":1430.750020980835,"wires":[]},{"id":"8d699262.72967","type":"comment","z":"27ca2375.d835dc","name":"Audio Listener","info":"","x":890.7500152587891,"y":1724.7500257492065,"wires":[]},{"id":"3e36dbfd.c1c924","type":"watch","z":"27ca2375.d835dc","name":"","files":"/home/pi/imap1/ReadcmdDone.txt","x":142.75,"y":1572.5000228881836,"wires":[["4d0d3760.b2f2c8"]]},{"id":"c60868c7.39f798","type":"comment","z":"27ca2375.d835dc","name":"Unread Mail count Done","info":"","x":117.50001525878906,"y":1423.7500219345093,"wires":[]},{"id":"224f0593.ddb0fa","type":"exec","z":"27ca2375.d835dc","command":"sh","addpay":false,"append":"ReadCmd.sh","useSpawn":"","name":"","x":568.7500076293945,"y":2031.250030040741,"wires":[["575ad13b.a8a53"],["575ad13b.a8a53"],["575ad13b.a8a53"]]},{"id":"f0d1149a.0f2ee8","type":"comment","z":"27ca2375.d835dc","name":"Read Command","info":"","x":566.2500076293945,"y":1980.0000295639038,"wires":[]},{"id":"f0a9f7b6.0f5608","type":"comment","z":"27ca2375.d835dc","name":"Delete","info":"","x":120.00000381469727,"y":2245.0000324249268,"wires":[]},{"id":"c46fef44.3b901","type":"comment","z":"27ca2375.d835dc","name":"Delayed unread mail reader","info":"","x":473.75000762939453,"y":1380.0000200271606,"wires":[]},{"id":"806db24e.7f925","type":"comment","z":"27ca2375.d835dc","name":"Audio command Listener","info":"","x":108.5,"y":1670.0000247955322,"wires":[]},{"id":"c3e5209a.3c1ae","type":"comment","z":"27ca2375.d835dc","name":"Read Voice Command Done","info":"","x":122.5,"y":1527.5000228881836,"wires":[]},{"id":"575ad13b.a8a53","type":"debug","z":"27ca2375.d835dc","name":"","active":false,"console":"false","complete":"false","x":798.7500114440918,"y":1943.7500286102295,"wires":[]},{"id":"91ac5024.6e53b","type":"function","z":"27ca2375.d835dc","name":"","func":"msg2 = {};\n\nmsg2.payload = msg.speech;\n\nreturn msg2;","outputs":1,"noerr":0,"x":310,"y":1142,"wires":[["6973f2b1.968c0c"]]},{"id":"39de4586.c621ba","type":"function","z":"27ca2375.d835dc","name":"","func":"msg2 = {};\n\nmsg2.payload = msg.speech;\n\nreturn msg2;","outputs":1,"noerr":0,"x":907,"y":1618,"wires":[["3252ccf4.cdad34"]]},{"id":"2b315df3.d4cea2","type":"function","z":"27ca2375.d835dc","name":"","func":"msg2 = {};\n\nmsg2.payload = msg.payload;\n\nreturn msg2;","outputs":1,"noerr":0,"x":135,"y":1076,"wires":[["8617379f.79e8c8"]]},{"id":"e1c94e20.1e36b","type":"function","z":"27ca2375.d835dc","name":"","func":"msg2 = {};\n\nmsg2.payload = msg.payload;\n\nreturn msg2;","outputs":1,"noerr":0,"x":136,"y":1846,"wires":[["e32a9b77.1cd568"]]},{"id":"b3c052d8.4c3fb","type":"function","z":"27ca2375.d835dc","name":"","func":"//msg2 = {};\n\n//msg2.payload = msg.payload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":965,"y":1554,"wires":[["983b500f.67c4b"]]}]
